/* missing FCC reqs:
1. At least 1 media query
*/


/* Fonts and general style */

@font-face {
  font-family: 'Lobster';
  src: url(../fonts/Lobster-Regular.ttf);
}

@font-face {
  font-family: 'karma';
  src: url(../fonts/Karma-Regular.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lobster', serif;
  color: #ff971d;
  background-color: white;
}

p {
  font-family: 'karma', serif;
  font-size: 1.1em;
}

/* Header */

header {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffe8d6;
}

#header-img {
  height: 100%;
}

.nav-link {
  display: inline-block;
  padding-right: 4vw;
  font-size: 2em;
}

.nav-link a {
  text-decoration: none;
  color: #af460f;
}


/* Main */

main {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#info-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  margin: 10vh 0;
  background-color: #f9f6f7;
  padding: 1em;
}

.label {
  font-size: 1.5em;
  display: block;
  margin-bottom: 2vh;
}

.container {
  display: flex;
  justify-content: center;
}

#video {
  margin: 5vh 0;
}