/* What to do tomorrow/next time: Make the media query work! */


/* Fonts */

@font-face {
  font-family: 'Lobster';
  src: url(../fonts/Lobster-Regular.ttf);
}

@font-face {
  font-family: 'karma';
  src: url(../fonts/Karma-Regular.ttf);
}


/* general style */

body {
  margin: 0;
  padding: 0;

  font-family: 'Lobster', serif;
  color: #ff971d;
  background-color: white;
}

p {
  font-family: 'karma', serif;
  font-size: 1.1em;
}


/* Header */

header {
  position: fixed;
  top: 0;
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 15vh;
  background-color: #ffe8d6;
}

#header-img {
  height: 100%;
}

.large-nav {
  padding-left: 2em;
}

li {
  display: inline-block;
  padding-right: 4vw;
  font-size: 2em;
}

.nav-link {
  text-decoration: none;
  color: #af460f;
}

.small-nav {
  display: none;
  width: 100%;

  position: fixed;
  top: 0;
  width: 100%;
  
  background-color: #ffe8d6;
  color: #af460f;
}

.small-nav h3 {
  margin: 0;
  text-align: center;
  font-size: 1.5em;
}

.small-link {
  display: none;
  width: auto;
}



/* Main */

main {
  margin: 20vh auto auto auto;
  width: 90%;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#info-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  margin: 10vh 0;
  background-color: #f9f6f7;
  padding: 1em;
}

.label {
  font-size: 1.5em;
  display: block;
  margin-bottom: 2vh;
}

.container {
  display: flex;
  justify-content: center;
}

#video {
  margin: 5vh 0;
}

/* Media queries */

@media only screen and (max-width: 820px) {  
  #nav-bar {
    font-size: 0.75em;
  }
}

@media only screen and (max-width: 602px) {  
  #nav-bar {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 480px) {  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #ffe8d6;
  }

  #header-img {
    width: 100%;
  }
  
  .large-nav {
    display: none;
  }

  .small-nav {
    display: block;
    margin-top: 15vh;
  }

  .small-nav:hover .small-link {
    display: inline-block;
  }

  main {
    margin-top: 20vh;
    padding: 0;
  }
}